<!doctype html>
<html lang="en">
  <head>
    <title>Passphrase Generator</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>
      body {background-color: #536271;}
      h1, h3, h4 {color: white;}
    </style>
    <body>
      <div class="container-fluid" align="center">
  <h1>Passroclus - Passphrase Creator</h1>
     <br>
  <form action="/generatorRedirect" method = "POST">
    <h3>
  <label for="quantity">How long would you like the password to be?:</label>
  <input type="number" id="length" name="length" min="2" max="6">
  <input type="submit" value="Submit">
    </h3>
    <br>
    <h4>To find out more about passphrases and the passphrase generator, <a href="/FAQ">click here!</a></h4>
</form>
</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>
