<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>
      
      body {background-color: #536271;}
      h1 {color: white;}
    </style>
    <title>Passroclus - FAQs</title>
    <body>
      <div class="container-fluid" align="center">
        
  <h1>Passroclus FAQs</h1>
  <br>
<div class="card w-75">
  <h5 class="card-header">
    How is the strength of a passphrase calculated?
  </h5>
  <div class="card-body">
    <p class="card-text">The strength of the entered passphrase is calculated by using entropy. Entropy is a measurement of how predictable a password is, however a high entropy score does not necessarily mean that the password is strong. It may be an easy to guess passphrase such as Password123 or may already be in a breached password list.</p>
  </div>
</div>
</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>
