<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>
      body {background-color: #536271;}
      h1, h3, h4 {color: white;}
    </style>
    <title>Passroclus - Passphrase Creator</title>
    <body>
      <div class = "container-fluid" align="left">
        <a class="btn btn-primary" href="/" role="button">Go Home</a>
      </div>
      <div class="container-fluid" align="center">
        <h1>This is the passphrase creator</h1>
        <br>
      <h3>

         {% block content %}
    Your new passphrase is: {{passphrase}}
        {% endblock %}
       
      </h3>
        <br> 
        <h4>To find out more about passphrases and why they're more secure than passwords, <a href="/FAQ">click here!</a></h4>
      </div>
      <br>
      
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>
