<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>
      body {background-color: #536271;}
      h1 {color: white;}
    </style>
    <body onload="changeBodyBg()">
      {% block content %}
      <script>
        function changeBodyBg(){
        if ({{score}} = "red"){
         document.body.style.background = red;
        }
        }
      </script>
      
      <div class="container-fluid" align="center">
  <h1>Passroclus</h1>
  <br>
<h1>This is the security checker page.</h1>
     <br>
      <h2>
        
          The overall entropy of your entered passphrase is: {{entropy}}
          <br>
        <br>
          {{rating}}
          <br>
          {{breachedPassword}}
          <br>
        {% endblock %}
      </h2>
     <p>Entropy is the measurement of how predictable your password is. The higher the entropy, the harder it is to crack.</p>
     <p>It should be noted, that some passphrases may have high entropy but if they've been breached in the past they are likely to be insecure.</p>  
</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>
